main {
    max-width: 800px;
    margin: 1rem auto;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 300px;
    margin: 1rem auto;
    border: 1px solid #333;
    padding: 1rem;
    background-color: #f2f2f2;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #333;
    text-align: center;
}